body{
    background-color: orangered;
    color: white;
}

@media screen and (max-width: 768px){
    body{
        background-color: cornflowerblue;
        color: black;
    };
}

@media screen and (max-width: 500px){
    body{
        background-color: dimgray;
        color: #cccccc;
    };
}